.main {
  padding: var(--space-m);
}

.characters__title {
  margin-bottom: var(--space-m);
  text-align: center;
}

.characters__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 210px);
  justify-content: center;
  gap: var(--space-m);
}
