.card {
  width: 210px;
  background-color: var(--color-card);
  overflow: hidden;
}

.card__img {
  width: 210px;
  height: 295px;
  display: block;
  object-fit: cover;
}

.card__info {
  padding: var(--space-m);
}

.card__name {
  margin-bottom: var(--space-s);
  font-size: 1rem;
}

.card__species {
  font-size: 0.9rem;
}
